html,body
{
  background-color: #80c6c9;
}
#line
{
  background-color: #468bb9;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-grow: 1;
  font-size: 60px;
  color: #ffffff;
}
#logo 
{
  display: flex;
  justify-content: flex-start;
  margin-right: 250px;
}
.menu
{
  display: flex;
  background-color: #468bb9;
  margin-top: 20px;
  flex-direction: column;
  flex-grow: 1;
  list-style-type: none;
  justify-content: center;
}
.menu li
{
   list-style-type: none;
}
#ssilki
{
  background-color: #468bb9;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-direction: column;
}
.tabl
{
  background-color: #468bb9;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-direction: column;
  margin-top: 20px;
}
.fourm
{
   background-color: #468bb9;
  display: flex;
  flex-direction: column;
   margin-top: 20px;
  order: -1;
}
.swap
{
  display: flex;
  flex-direction: column;
}
table 
{
  border: 1px solid #228b22;
  width: 900px;
  background: #0edb9e;
}
td, th 
{
    padding: 3px;
}
th 
{
  text-align: center;
  padding: 10px; 
  border: 1px solid #A9E2CC;
}
td 
{
  text-align: center;
  font-size: 0.8em;
  padding: 5px 7px;
  border: 1px solid #A9E2CC;
}
tr.even 
{
  background: #dd4074;
}
.footer
{
  display: flex;
  background-color: #468bb9;
  font-size: 15px;
  color: #ffffff;
  margin-top: 20px;
}
@media screen and (min-width: 1224px) {
#logo 
{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 500px;
  margin-left: 240px;
}
.menu
{ 
  display: flex;
  background-color: #468bb9;
  flex-direction: row;
  margin-left: 50px;
  margin-left: 240px;
  margin-right: 240px;
}
.menu a
  {
     list-style-type: none;
  display: inline-block;
  margin-right: 80px;
  text-align: center;
  } 
  #ssilki
{
  background-color: #468bb9;
  display: flex;
  flex-basis: auto;
  justify-content: left;
  margin-right: 240px;
  margin-left: 240px;
  flex-direction: column;
}
.tabl
{
  background-color: #468bb9;
  display: flex;
  flex-basis: auto;
  margin-right: 240px;
  margin-left: 240px;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  order: -1;
}
.swap
{
  display: flex;
  flex-direction: column;
}
.fourm
{
   margin-top: 20px;
   background-color: #468bb9;
  display: flex;
  flex-basis: auto;
    margin-right: 240px;
  margin-left: 240px;
  padding: 10px;
  flex-direction: column;
}
  
}
